.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pick_up {
  width: 360px;
  text-align: right;
  border-radius: 16px;
  box-shadow: 10px 5px 10px rgba(18, 47, 61, 0.5);
}

.title {
  width: 100%;
  text-align: left;
  padding-left: 5vw;
}

.title > p {
  margin: 2vh 0 1vh;
  font-weight: bold;
  font-size: 1.2rem;
}

.pick_up_img {
  display: flex;
}

.pick_up_img > div {
  position: relative;
}

.pick_up_user_profile {
  width: 80px;
  position: absolute;
  left: 2%;
  bottom: 3%;
  color: #ffffff;
  text-align: left;
  line-height: 0.7rem;
}

.pick_up_user_profile :nth-child(1) {
  font-size: 1rem;
}

.pick_up_user_profile :nth-child(2) {
  font-size: 0.8rem;
}

.pick_up_user_profile :nth-child(4) {
  font-size: 0.6rem;
}

.description {
  width: 100%;
  text-align: left;
  font-size: 0.5rem;
  padding: 1vw 0 1vw 3vw;
}

.recommend_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
}

.recommend {
  width: 172px;
  text-align: right;
  border-radius: 16px;
  box-shadow: 10px 5px 10px rgba(18, 47, 61, 0.5);
  margin-bottom: 16px;
}

.recommend_img {
  display: flex;
  flex-wrap: wrap;
}

.recommend_img > div {
  position: relative;
}

.recommend_img_wrapper > div {
  position: relative;
}

.recommend_user_profile {
  width: 80px;
  position: absolute;
  left: 2%;
  bottom: 4%;
  color: #ffffff;
  text-align: left;
  line-height: 0.7rem;
}

.recommend_user_profile :nth-child(1) {
  font-size: 0.9rem;
}

.recommend_user_profile :nth-child(2) {
  font-size: 0.6rem;
}

.recommend_user_profile :nth-child(4) {
  font-size: 0.4rem;
}
